<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="infsolution.com.br.infbullet" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".BulletinActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgendaActivity" android:label="@string/agenda">
        </activity>
        <activity android:name=".BimestreActivity" android:label="@string/bimestre">
        </activity>
        <activity android:name=".MateriaActivity" android:label="@string/disciplinas">
        </activity>
        <activity android:name=".NewEventActivity" android:label="@string/cad_evento">
        </activity>
        <activity android:name=".NewMateriaActivity" android:label="@string/new_mat">
        </activity>
        <activity android:name=".NewProvaActivity" android:label="@string/new_prova">
        </activity>
        <activity android:name=".ProfileActivity" android:label="@string/perfil">
        </activity>
        <activity android:name=".ProvaActivity" android:label="@string/provas">
        </activity>
    </application>

</manifest>
